.transactions {
    padding-top: 2%;
    background-color: #F3F4FC;
    grid-column: 1 / 6;
    border-radius: 25px;
}

.transactions > .block__header {
    width: 90%;
}

.transactions__header__btns{
   display: flex;
   width: 360px;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.transactions__header__btn {
    cursor: pointer;
    display: flex;
    width: 170px;
    height: 40px;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    background-color: #E9E9F5;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 15px;
    transition: all ease 0.3s;
}

.transactions__header__btn:hover {
    background-color: #d8d8e2;
}

.transactions__header__btns > div > img {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.transactions__content {
    width: 94%;
    height: 280px;
    list-style: none;
    margin: 0 auto;
    margin-top: 2%;
    overflow-x: hidden;
    padding: 0 1%;
}

.transactions__header__btn__dropdown {
    top: 45px;
    right: 0px;
    position: absolute;
    background-color: #F3F4FC;
    border: 1px solid #b8bcda;
    border-radius: 10px;
    width: 170px;
    height: 160px;
    padding: 5px 0;
}

.transactions__header__btn__dropdown > p {
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    width: 95%;
    height: 30px;
    border-radius: 7px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.transactions__header__btn__dropdown > p:hover {
    background-color: #CED2F3;
    color: #2C55D4;
}

.transactions__header__btn-1__dropdown {
    top: 50px;
    right: 190px;
}

.transactions__header__btn-2__dropdown {
    display: none;
    top: 50px;
    right: 0px;
}