.error-page {
    width: 500px;
    height: 300px;
    margin: 10% auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.error-page > p {
    font-size: 18px;
}

.error-page > p > i {
    color: rgb(110, 110, 110);
}